---
layout: default
title: "Portfolio"
---

Welcome to my technical writing portfolio! Thank you for taking the time to review my writing samples. <br><br>This site has a small but growing collection of my most exciting projects. As a documentation specialist with over 15 years of experience in technical communication, I am on a path to learning web development and smart contracts to provide more value in my work

The following samples include API documentation, tutorials and overviews on subjects related to Smart Contracts, DeFi and Cloud Computing. For more about my professional background see the [About](https://firoyj.github.io/about/) page. To reach out, please find my contacts [here](https://firoyj.github.io/contact/).

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}



