---
layout: page
title: "Portfolio"
---

Welcome to my technical writing portfolio! I appreciate you taking the time to review my writing samples. <br><br>This site has a small but growing collection of my recent projects. As a documentation specialist with over 15 years of experience in technical communication, I'm specialized in the areas of Blockchain and Financial Services. To enhance the value I bring, I'm on a path to learning web development and smart contracts.

<br><br>The following samples include API documentation, tutorials and overviews on subjects related to Smart Contracts, DeFi and Cloud Computing.

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}



