---
layout: page
title: "Portfolio"
---

Welcome to my technical writing portfolio.
<br><br>
I'm a documentation specialist with over 15 years of experience specializing in Cloud, Fintech, and Blockchain. My expertise lies in creating developer-focused content that simplifies obscure technical information. I also enjoy planning information architecture and leading training sessions in documentation best practices.
<br><br>
Please explore my work and feel free to reach out if you have any questions.
<br><br><br>

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}



